<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/feed">Community Shelf</a>
    </li>
{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="/books">My Library</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/upload">Add Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user">Profile</a>
    </li>
    
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
{% endif %}
</ul>
